.App{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .Header, .Footer{
        box-sizing: border-box;
        background-color: #3b82f6;
    }
    .Footer{
        min-height: 5rem;
    }
    .Home{
        .ProductList{
            .ProductItemWrapper{
                flex: 1 1 200px;
            }
        }
    }
}